@model LmmPlanner.Data.Entities.AssignmentOverview
@{
    @* ViewData["Title"] = "Hallo"; *@
}

@* <h1>Übersicht @ViewData["Title"]</h1>
    <hr> *@
<table class="table table-hover table-bordered text-center">
    <thead>
        <tr>
            <th>Verk.</th>
            @foreach (var meeting in Model.Meetings)
            {
                var dateString = meeting.Date.ToString("yyyy-MM-dd");
                <th>
                    <a asp-page="/Schedule" asp-route-date="@dateString">
                        @meeting.Date.ToString("dd.MM.yy")
                    </a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.Persons)
        {
            <tr>
                <td>@person.Name</td>
                @foreach (var meeting in Model.Meetings)
                {
                    if (meeting.Schedules.Any(d => d.PersonId == person.Id || d.AssistantId == person.Id))
                    {
                        <td>
                            @foreach (var sched in meeting.Schedules.Where(d => d.PersonId == person.Id || d.AssistantId == person.Id))
                            {
                                if(sched.PersonId == person.Id) 
                                {
                                    if(sched.PartTypeName == "Gebet") 
                                    {
                                        <div class="text-info">@sched.PartTypeName</div>
                                    } 
                                    else 
                                    {
                                        <div class="text-success">@sched.PartTypeName</div>
                                    }
                                } 
                                else 
                                {
                                    <div class="text-info">@sched.PartTypeName</div>
                                }
                            }
                        </td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
