@model LmmPlanner.Entities.Models.AssignmentOverview
@{
    @* ViewData["Title"] = "Hallo"; *@
}

@* <h1>Übersicht @ViewData["Title"]</h1>
    <hr> *@
<table class="table table-hover table-bordered text-center">
    <thead>
        <tr>
            <th>Verk.</th>
            @foreach (var meeting in Model.Meetings)
            {
                var dateString = meeting.Date.ToString("yyyy-MM-dd");
                <th>
                    <a asp-page="/Schedule" asp-route-date="@dateString">
                        @meeting.Date.ToString("dd.MM.yy")
                        <br><small>@meeting.Date.AddDays(4).ToString("dd.MM.yy")</small>
                    </a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.Persons)
        {
            <tr>
                <td>@person.Name</td>
                @foreach (var meeting in Model.Meetings)
                {
                    string bg = person.IsNotAvailable(meeting) ? "bg-danger-light" : "";
                    @* if(person.IsNotAvailable(meeting)) {
                        <td><div class="text-danger">--</div></td>
                    } else *@
                    if (meeting.Schedules.Any(d => d.PersonId == person.Id || d.AssistantId == person.Id))
                    {
                        <td class="@bg">
                            @foreach (var sched in meeting.Schedules.Where(d => d.PersonId == person.Id || d.AssistantId == person.Id))
                            {
                                if(sched.PersonId == person.Id) 
                                {
                                    if(sched.PartTypeName == "Gebet") 
                                    {
                                        <span class="text-info">@sched.PartTypeName</span>
                                    } 
                                    else 
                                    {
                                        <span class="text-success">@sched.PartTypeName</span>
                                    }
                                } 
                                else 
                                {
                                    <span class="text-info">@sched.PartTypeName</span>
                                }
                            }
                        </td>
                    }
                    else
                    {
                        <td class="@bg">&nbsp;</td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
