@page
@model ChairModel
@{
    ViewData["Title"] = "Übersicht Vorsitz";
}

<h1>Übersicht Vorsitz</h1>
<hr>
<div class="card">
    <div class="card-body">
        <div class="mb-2">
            <label class="col-form-label"> Von:
                <input asp-for="FromDate" class="form-control" type="date">
            </label>
        </div>
        <div class="mb-2">
            <label class="col-form-label"> Bis:
                <input asp-for="ToDate" class="form-control" type="date">
            </label>
        </div>
    </div>
</div>
<hr />
<a href="#" data-complete="true" class="btn btn-outline-primary">
    Große Übersicht
</a>
<a href="#" data-part-type="@LmmPlanner.Data.Entities.PartType.Chair" class="btn btn-outline-dark">
    Vorsitz
</a>
<a href="#" data-part-type="@LmmPlanner.Data.Entities.PartType.Treasures" class="btn btn-outline-dark">
    Schätze
</a>
<a href="#" data-part-type="@LmmPlanner.Data.Entities.PartType.Prayer" class="btn btn-outline-dark">
    Gebet
</a>
<a href="#" data-part-type="@LmmPlanner.Data.Entities.PartType.FirstTalk" class="btn btn-outline-dark">
    Erster Vortrag
</a>
<a href="#" data-part-type="@LmmPlanner.Data.Entities.PartType.CongregationStudy" class="btn btn-outline-dark">
    VBS
</a>
<div id="stat-container">
    <partial name="_Chair" model="Model" />
</div>
