@model LmmPlanner.Entities.Models.FittingPersons
@{
    Layout = null;
    var pers = Model.Persons.Select(d => new { d.Name, d.Id });
    SelectList selPers = new(pers, "Id", "Name");
}

<form method="post" id="savePartForm" asp-page="/Programs/EditSchedule" asp-route-id="@Model.ScheduleId">
    <input asp-for="AssignmentId" type="hidden">
    <input asp-for="ScheduleId" type="hidden">
    <input asp-for="Assist" type="hidden">
    <fieldset>
        <legend>@Model.Theme</legend>
        <div class="row mb-2">
            <div class="col-md-6">
                <select id="savePartAssigneeId" asp-items="@selPers" class="form-select"></select>
            </div>
            <div class="col-md-6">
                <bool-icon is-checked="@Model.Assist"> Partner</bool-icon>
            </div>
        </div>
        <p>
            <button type="submit" class="btn btn-outline-success" id="btnSavePart">
                <i class="bi bi-check2-circle" aria-hidden="true"></i>
                Speichern
            </button>
        </p>
    </fieldset>
</form>
<hr />
<table id="personListing" class="table table-sm table-bordered small table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a href="#" data-sort-header="0">Name</a>
            </th>
            <th>
                <a href="#" data-sort-header="1">Letzte Zuteilung</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Persons)
        {
            string assign = $"{item.LastAssignment:yyyyMMdd}";
            string assign2 = $"{item.LastAssignment:dd.MM.yy}";
            System.Func<string, string> abc = (ex => ex == item.Name ? "text-primary" : "");
            <tr>
                <td data-sort="@item.Name">
                    <a class="" asp-page="/People/PublisherDetails" asp-route-personId="@item.Id" target="_blank">
                        @item.Name
                    </a>
                    <br> <small>@assign2</small>
                </td>
                <td data-sort="@assign" colspan="2">
                    <ul class="mb-0 list-unstyled">
                        @foreach (var persAssign in item.LastAssignments.Take(5))
                        {
                            <li class="border-bottom">
                                <div>@persAssign.Date?.ToShortDateString() - @persAssign.Theme</div>
                                <div><span class="@abc(persAssign.Main)">@persAssign.Main</span>
                                    @if (!string.IsNullOrWhiteSpace(persAssign.Assist))
                                    {
                                        <span class="@abc(persAssign.Assist)"> / @persAssign.Assist</span>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(persAssign.Volu))
                                    {
                                        <span class="@abc(persAssign.Volu)">/ @persAssign.Volu</span>
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>