@model LmmPlanner.Entities.Models.MeetingInfo
@{
    Layout = null;
    bool moreClasses = Model.MoreClasses;
    string firtColClass = moreClasses ? "col-md-6" : "col-md-9";
    string colClass = moreClasses ? "col-md-6" : "col-md-3";
}
@using LmmPlanner.Entities.Models
@using LmmPlanner.WebGUI.Helpers


<div class="MeetingContainer" style="max-width: 190em;">
    <h1>
        @{
            DateTime td = Model.MeetingDate ?? DateTime.Now;
            string year = $"{td.Year}";
            string week = $"{td.Week()}";
        }
        <a href="https://wol.jw.org/de/wol/meetings/r10/lp-x/@year/@week">
            @Model.MeetingDate?.ToShortDateString()
        </a>
        <small><i>(@Model.MeetingDate?.AddDays(4).ToShortDateString())</i></small>
    </h1>
    @if (!string.IsNullOrEmpty(Model.Alert))
    {
        <div class="alert alert-info">
            @Model.Alert
        </div>
    }
    <h2>@Model.BibleReading</h2>
    <div class="row mb-2">
        <div class="@firtColClass"><span class="theme">Lied @Model.SongBeginning und Gebet</span></div>
        <div class="@colClass">@Model.PrayerBeginning</div>
    </div>
    <div class="row mb-2">
        <div class="@firtColClass"><span class="theme">Einleitende Worte</span> (1.Min)</div>
        <div class="@colClass">
            @Model.Chairman
            <a href="#" class="btn btn-xs btn-outline-dark" data-meeting-id="@Model.MeetingId"
                data-assignment-id="@Model.ChairmanId">
                <i class="bi bi-pencil" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <div class="treasures-block">
        <h2><i class="bi bi-gem"></i> Schätze aus Gottes Wort</h2>
        @foreach (var item in Model.TreasureParts)
        {
            var prt = Model.GetAssignmentToPart(item.Id);
            <div class="row mb-2">
                <div class="@firtColClass">
                    <span class="theme">
                        @item.Theme </span> (@item.Time Min): <br>
                    <a asp-page="/Programs/EditSchedule" asp-route-id="@item.Id" class="btn btn-xs btn-outline-secondary">
                        <i class="bi bi-pencil" aria-hidden="true"></i>
                    </a>
                    @if (PartTypeStatics.BibleReading.IsBetween(item.TalkId ?? 0))
                    {
                        <small><a href="https://wol.jw.org/de/wol/l/r10/lp-x?q=@item.Source" target="_blank">@item.Source</a></small>
                        
                    }
                    else
                    {
                        <small>@item.Source</small>

                    }
                </div>
                <div class="@colClass">
                    <span>@prt.MainPerson</span>
                    <a href="#" class="btn btn-xs btn-outline-dark" data-part-id="@item.Id"
                        data-assignment-id="@prt.AssignmentId">
                        <i class="bi bi-pencil" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="service-block">
        <h2><i class="bi bi-flower2"></i> Uns im Dienst verbessern</h2>
        @foreach (var item in Model.ServiceParts)
        {
            <div class="row mb-2">
                <div class="@firtColClass">
                    <span class="theme">
                        @item.Theme </span> (@item.Time Min):
                    <small>@item.Source</small>
                    <small>@item.TalkId</small>
                </div>
                <div class="@colClass">
                    @{
                        var prt = Model.GetAssignmentToPart(item.Id);
                    }
                    <span>@prt.MainPerson</span>
                    <a href="#" class="btn btn-xs btn-outline-dark" data-part-id="@item.Id"
                        data-assignment-id="@prt.AssignmentId">
                        <i class="bi bi-pencil" aria-hidden="true"></i>
                    </a>
                    @if (!PartTypeStatics.ImproveVideo.IsBetween(item.TalkId ?? 0) &&
                   !PartTypeStatics.Talk.IsBetween(item.TalkId ?? 0))
                    {
                        <br>
                        <span>@prt.AssistantPerson</span>
                        <a href="#" class="btn btn-xs btn-outline-secondary" data-part-id="@item.Id" data-part-assist="true"
                            data-assignment-id="@prt.AssignmentId">
                            <i class="bi bi-pencil" aria-hidden="true"></i>
                        </a>
                    }
                </div>
                @if (moreClasses)
                {
                    <div class="col-md-3">...<i class="bi bi-trash text-danger"></i></div>
                }
            </div>
        }
    </div>

    <div class="life-block">
        <h2><i class="bi bi-life-preserver"></i> Unser Leben als Christ</h2>
        <div class="row mb-2">
            <div class="@firtColClass"><span class="theme">Lied @Model.SongMiddle</span></div>
        </div>
        @foreach (var item in Model.LifeParts)
        {
            if (Model.IsServiceWeek && PartTypeStatics.CongregationStudy.IsBetween(item.TalkId ?? 0))
            {
                continue;
            }
            var prt = Model.GetAssignmentToPart(item.Id);
            <div class="row mb-2">
                <div class="@firtColClass">
                    <span class="theme">
                        @item.Theme </span> (@item.Time Min):
                    <a asp-page="/Programs/EditSchedule" asp-route-id="@item.Id" class="btn btn-xs btn-outline-secondary">
                        <i class="bi bi-pencil" aria-hidden="true"></i>
                    </a>
                    <small>@item.Source</small>
                    <small>@item.TalkId</small>
                </div>
                <div class="@colClass">
                    <span>@prt.MainPerson</span>
                    <a href="#" class="btn btn-xs btn-outline-dark" data-part-id="@item.Id"
                        data-assignment-id="@prt.AssignmentId">
                        <i class="bi bi-pencil" aria-hidden="true"></i>
                    </a>
                    <br>
                    <span>@prt.AssistantPerson</span>
                    @if (PartTypeStatics.CongregationStudy.IsBetween(item.TalkId ?? 0))
                    {
                        <a href="#" class="btn btn-xs btn-outline-secondary" data-part-id="@item.Id" data-part-assist="true"
                            data-assignment-id="@prt.AssignmentId">
                            <i class="bi bi-pencil" aria-hidden="true"></i>
                        </a>
                    }
                </div>
                @* <div class="col-md-3"></div> *@
            </div>
        }
    </div>
    @foreach (var item in Model.OtherParts)
    {
        <div class="row mb-2">
            <div class="@firtColClass"><span class="theme">@item.Theme</span> (@item.Time Min)
                <a asp-page="/Programs/EditSchedule" asp-route-id="@item.Id" class="btn btn-xs btn-outline-secondary">
                    <i class="bi bi-pencil" aria-hidden="true"></i>
                </a>
            </div>
            <div class="@colClass" data-info="@item.TalkId">
                @Model.CircuitOverseer
            </div>
        </div>
    }

    <div class="row mb-2">
        <div class="@firtColClass"><span class="theme">Schlussworte</span></div>
        <div class="@colClass">@Model.Chairman</div>
    </div>

    <div class="row mb-2">
        <div class="@firtColClass"><span class="theme">Lied @Model.SongEnd und Gebet</span></div>
        <div class="@colClass">@Model.PrayerEnd</div>
    </div>
</div>
